body {
  scrollbar-width: none; /* Para navegadores que soportan el estándar */
  -ms-overflow-style: none; /* Para versiones antiguas de Microsoft Edge e Internet Explorer */
}

/* Estilos específicos para navegadores WebKit (como Chrome y Safari) */
body::-webkit-scrollbar {
  display: none;
}
.main {
  background-color: #1b1f22;
}
.navStyle {
  background-color: #212529;
}
.header {
  background-color: #212529;
  margin-top: 3rem;
  height: 600px;
}
.baseHeader{
  background-color: #212529;
  margin-top: 3rem;
  height: 650px;
}
li {
  list-style: none;
}
.imagen{
    height: 200px;
    width: 200px;
}

.fade-in {
  opacity: 1; /* Inicialmente, el elemento estará completamente transparente */
  transition: opacity 1.5s; /* Establecemos una transición de 1.5 segundos para la propiedad opacity */
}